.a1, .a2, .a3, .a4
{
	margin: 0;
	border: 0 solid;
	}

.VerticalSpace, .HorizontalSpace
{
	border: 0;
	float: left;
	}

.a1
{
	float: left;
	background-color: #009999;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	top: 8px;
	position: absolute;
	height: 95%;
	width: 15%;
	color: #000000;
	}

.a2
{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	position: relative;
	left: 17.5%;
	width: 63%;
	color: #000000;
	}

.a3
{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	position: relative;
	left: 17.5%;
	width: 63%;
	color: #000000;
	}

.a4
{
	background-color: #123123;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 16px;
	padding-bottom: 10px;
	position: absolute;
	right: 20px; 
	height: 95%;
	width: 15%;
	color: #FFFFFF;
	}

.VerticalSpace
{
	float: left;
	height: 15px;
	width: 81%;
	}

.HorizontalSpace
{
	position: relative;
	left: 17.5%;
	height: 900px;
	width: 15px;
	}