.topnav
{
	position: relative;
	width: 100%;
	height: 43px;
	background-color: #009999;
	}

img
{
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	}

#home
{
	position: relative;
	width: 32px;
	height: 32px;
}

#title
{
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}
